{{ define "main" }}
<br>
<br>
<br>
<!-- layouts/partials/hero.html -->
{{ partial "hero.html" . }}

<!-- layouts/partials/offers.html -->
{{ partial "offers.html" . }}


<!-- layouts/partials/about.html -->
{{ partial "about.html" . }}


<!-- layouts/partials/testimonials.html -->
{{ partial "testimonials.html" . }}



<!-- layouts/partials/faq.html -->
{{ partial "faq.html" . }}





<!-- layouts/partials/blog-preview.html -->
{{ partial "blog-preview.html" . }}



<!-- layouts/partials/contact.html -->
{{ partial "contact.html" . }}

{{ end }}
